@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grey: #5a6e79;
    --yellow: #ffc178;
    --navyblue: #252c3a;
    --lightgreen: #43cb83;
    --lightpink: #ff5f72;
    --white: #ffffff;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

/* banner1 section start*/

.banner1 {
    background-image: url(../images/banner1.png);
    background-size: cover;
    height: 100vh;
}

.container {
    max-width: 1170px;
    margin: auto;
}

/* header part start */

header .logo img {
    padding-top: 25px;
}

/* nav part start */

header nav li {
    display: inline-block;
    margin: 18px 39px 0px 0px;
    position: relative;
}

header nav a {
    text-decoration: none;
    color: var(--grey);
}

header nav li:last-child a {
    background-color: var(--white);
    color: var(--yellow);
    padding: 10px 20px;
    border-radius: 40px;
    box-shadow: 1px 1px 19px 6px #eee;
}

header nav li.active a {
    color: var(--yellow);
}

header nav li:not(:last-child) a:before {
    content: '';
    position: absolute;
    border: 1px solid var(--yellow);
    bottom: -3px;
    width: 100%;
    transition: 0.5s;
}

header nav li:not(:last-child):not(:first-child) a:before {
    visibility: hidden;
    width: 0%;
}

header nav li:not(:last-child):not(:first-child):hover a:before {
    visibility: visible;
    width: 100%;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav part end */

/* header part end */

.banner1 article {
    margin-top: 150px;
    max-width: 515px;
}

.banner1 article h1 {
    font-size: 35px;
    line-height: 46px;
    color: var(--yellow);
}

.banner1 article p {
    margin-top: 15px;
    line-height: 23px;
    font-size: 16px;
    color: var(--grey);
}

.banner1 article button {
    margin-top: 30px;
    background-color: var(--yellow);
    color: var(--white);
    padding: 15px 25px;
    border-radius: 40px;
    box-shadow: 1px 1px 10px 5px #eee;
    border: 1px solid var(--yellow);
    letter-spacing: 1px;
}

/* banner1 section end */

/* Our-Department section start */
.Our-Department article{
    text-align: center;
    margin-bottom: 65px;
}
.Our-Department article h4{
    font-size: 40px;
    font-weight:normal;
    margin-top: 5px;
}
.Our-Department article p{
    margin: 15px 0px;
    line-height: 23px;
    font-size: 16px;
    color: var(--grey);
   
}

/* Our-Department section end */
mobile responsive banauna baki cha nav bar sticky garauna pani baki cha voli garna nabirsine